<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/question-details.css">
    <title>Question Details</title>
</head>

<body>
    <div class="main-content">
        <section class="page__container">
            <div class="page__header">
                <div class="page__header-container">
                    <button class="button-home">back<span><i class="fas fa-undo"></i></span></button>
                    <h1 class="page__header-title">
                        What is the Harry Potter Kano Coding Kit?
                    </h1>
                </div>


                <div class="page__header-summary">
                    <p>
                        The Harry Potter Kano Coding Kit is a DIY kit that lets you perform spell motions inspired by
                        the Wizarding World of Harry Potter. It includes over 40+ challenges that let you make serpents
                        slither, toads transfigure, fires flow, feathers float, goblets duplicate, Bertie Bott's Every
                        Flavour Beans enlarge, and more.
                    </p>
                </div>
            </div>
            <div class="page__description">
                <h2 class="page__description-title">
                    How does the Harry Potter Kano Coding Kit work?
                </h2>
                <div class="page__body">
                    <p>Your Coding Wand will fall asleep when not in use and can be picked up and woken up immediately,
                        by pressing the button on the top.</p>
                    <p>In this deep sleep, it can last at least two weeks.</p>
                    <p>To make it last longer, turn your Coding Wand off completely – by pressing the trapezoid shaped
                        button on the bottom of the wand, opening up the back with your other hand, and taking the
                        batteries out of the PCB brain inside. You can store the Coding Wand and its batteries in its
                        box.</p>

                    <p>Here are a few tips for managing your wand:</p>
                    <ul class="page__list">
                        <li class="page__list-step">Step 1</li>
                        <li class="page__list-step">Step 2</li>
                        <li class="page__list-step">Step 3</li>
                        <li class="page__list-step">Step 4</li>
                    </ul>
                    <div class="page__body-img">
                        <img src="https://help.kano.me/hc/article_attachments/360000450100/unnamed.png" alt="wand-img">
                    </div>

                    <p>
                        The Kano Community Forum is a place where makers can help other makers, share projects, comment
                        on libraries and get inspired by the Kano community. Check it out here for the latest news on
                        all things Kano!
                    </p>
                </div>
            </div>

        </section>
    </div>
</body>

</html>